@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Italipixel";
    src: url("/fonts/Italipixel.ttf") format("truetype");
  }

@font-face {
  font-family: "Brush Script";
  src: url("/fonts/Brush Script.ttf") format("truetype");
}

@font-face {
  font-family: "discotechia";
  src: url("/fonts/discotechia.ttf") format("truetype");
}

@font-face {
  font-family: "Necosmic-Display";
  src: url("/fonts/Necosmic-Display.otf") format("truetype");
}

@font-face {
  font-family: "New Digital";
  src: url("/fonts/New X Digital tfb Cursive.ttf") format("truetype");
}


@font-face {
  font-family: "poxel-font";
  src: url("/fonts/poxel-font.ttf") format("truetype");
}

@font-face {
  font-family: "TitilliumWeb-Bold";
  src: url("/fonts/TitilliumWeb-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Akira Expanded Demo";
  src: url("/fonts/Akira Expanded Demo.otf") format("truetype");
}

.bubble-name {
  position: absolute;
  max-width: 20rem;
  background-color: plum;
  font-size: 14px;
  line-height: 120%;
  font-weight: 500;
  z-index: 30;
  display: flex;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid plum;
  border-bottom: 1px solid plum;
  margin-top: -3rem;
}

.x-label {
  background-color: plum;
  height: 100%;
  width: 16px;
  position: relative;
  border-left: 1px solid white;
}

.x-label-text {
  position: absolute;
  bottom: calc(100% - 1px);
  left: -2px;
  width: 100%;
  background-color: plum;
  text-align: center;
  z-index: 3;
  font-family: "Necosmic-Display";
  font-size: 9px;
  line-height: 100%;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-top-left-radius: 4px;
}

.x-label-skew {
  position: absolute;
  bottom: calc(100% - 1px);
  left: 5px;
  width: 11px;
  height: 10px;
  transform: skew(23deg);
  background-color: plum;
  z-index: 2;
  border-right: 1px solid white;
}

.bottom {
  position: absolute;
  top: calc(100% - 1px);
  left: -1px;
  width: calc(100% - 4px);
  background-color: plum;
  z-index: 3;
  font-family: "Necosmic-Display";
  font-size: 10px;
  line-height: 100%;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-left-radius: 4px;
  height: 8.5px;
}

.bottom-skew {
  position: absolute;
  top: calc(100% - 1px);
  right: -3px;
  width: 11px;
  height: 9px;
  transform: skew(-40deg);
  background-color: plum;
  z-index: 2;
  border-right: 1px solid white;
}

.no_typecursor .Typewriter__cursor {
    display: none;
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}